
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

@import "../base/header";
@import "../base/body";
@import "../base/disigns";
@import "../base/social";
@import "../base/card";
@import "../base/footer";

